{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {#
        This references the Stimulus controller defined in
        "assets/controllers/login-controller.js".
        See https://symfony.com/doc/current/frontend/encore/simple-example.html#stimulus-symfony-ux
        More info on Symfony UX https://ux.symfony.com
    #}
    <div class="row" {{ stimulus_controller('login', {
        'hankoApiUrl': hanko_api_url(),
        'lastUsername': last_username,
        'redirectTo': app.request.get('redirect_to'),
        'loginPath': path('security_login')
    }) }}{# @see assets/controllers/login-controller.js #}>
        <div class="col-sm-8">
            <div class="well">
                <h2><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</h2>
                <hanko-auth {{ stimulus_target('login', 'hankoAuth') }}></hanko-auth>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
