{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans }}</h1>

    {#
    This references the Stimulus controller defined in
    "assets/controllers/editUser-controller.js".
    See https://symfony.com/doc/current/frontend/encore/simple-example.html#stimulus-symfony-ux
    More info on Symfony UX https://ux.symfony.com
    #}
    <div {{ stimulus_controller('editUser', {
        'hankoApiUrl': hanko_api_url()
    }) }}{# @see assets/controllers/editUser-controller.js #}>
        <hanko-profile {{ stimulus_target('editUser', 'hankoProfile') }}></hanko-profile>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
